body{
    display: flex;
    flex-direction: column;
    background-image: url(/mushroomgrow/images/backimage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center calc(0% + (var(--scroll, 0) / 4));
    background-attachment: scroll;
    justify-content: center;
    align-items: center;
    color: white;
}

body::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
}

h1{
    font-size: 8vw;
    font-weight: 900;
    margin: 0;
}

h2{
    font-size: 6vw;
    margin: 0;
}

.titleBlock h1{
    font-size: 12vw;
    text-decoration: underline;
}

.titleBlock h3{
    font-size: 6vw;
    text-decoration: none;
}

.textBlock{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logoImg{
    width: 75vw;
    height: auto;
}

.indexImage{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

h3{
    text-decoration: underline;
    text-decoration-thickness:3px;
    font-size: 7vw;
    margin: 3px;
}

.infoBlockLeft{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
}

.infoBlockRight{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
}

.indexBlock{
    width: 100%;
    margin: 10px 0 10px 0;
}

a{
    display: block;
}

#infoBlock, .indexBlock{
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(6px);
    border-bottom: solid black 1px;
    border-top: solid black 1px;
}

.titleBlock{
    height: 50vw;
}