body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1{
    font-size: 8vw;
    font-weight: 900;
    margin: 0;
}

h2{
    font-size: 6vw;
    margin: 0;
}

.titleBlock h1{
    font-size: 12vw;
    text-decoration: underline;
}

.titleBlock h3{
    font-size: 6vw;
    text-decoration: none;
}

.textBlock{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h3{
    text-decoration: underline;
    text-decoration-thickness:3px;
    font-size: 7vw;
    margin: 3px;
}

.indexBlock{
    width: 100%;
    margin: 10px 0 10px 0;
}

a{
    display: block;
    color: inherit;
}

.titleBlock{
    height: 50vw;
}