.pageTitle{
    font-size: clamp(2rem, 40px, 3rem);
    font-weight: bold;
    margin: 0 10px 0 10px;
}

.latinName{
    font-size: clamp(1rem, 30px, 1.5rem);
    font-weight: bold;
    margin: 0 10px 0 10px;
    font-style: italic;
}