th{
    border: solid black 3px;
    background-color: #c9c5bb;
    color: #0f1411;
    font-size: clamp(.85rem, 20px, 1.7rem);
}

table{
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

tbody tr:nth-child(odd){
    background-color: #0f1411;
    color: #c9c5bb;
    border-color: #c9c5bb;
}

tbody tr:nth-child(even){
    background-color: #c9c5bb;
    color: #0f1411;
}

td{
    border: solid black 1px;
    font-size: clamp(.75rem, 15px, 1.5rem);
}

h1{
    font-size: clamp(2rem, 80px, 4rem);
    font-weight: bold;
    margin: 2vh 4vw 2vh 4vw;
}