.secDiv{
    border: solid white 2px;
    border-radius: 15px;
    margin: 3vw;
}

.infoCards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2vh 2vw;
    padding: 3vw;
}

.mushCard{
    border: solid white 2px;
    padding: 3vh;
    border-radius: 15px;
}

h2{
    font-size: clamp(4rem, 9vw, 6rem);
}

h3{
    font-size: clamp(2rem, 7vw, 4rem);
    text-decoration: underline;
}

h4{
    font-size: clamp(1.5rem, 5vw, 3rem);
    margin-top: 0;
}

p{
    margin-top: auto;
    font-size: clamp(1rem, 3vw, 1.5rem);
}